/* ------------------------------------------
   base.BODY
------------------------------------------ */
body {

  &.home {
    background-color: $color-dark;
    color: $light;
  }

  &.post {
    background-color: $light;
    color: $color-dark;
  }
}
