/* ------------------------------------------
   base.BODY
------------------------------------------ */
body {
  background-color: $color-dark;
  color: $light;

  &.single-post {
    // background-color: $light;
    color: $color-dark;
  }
}
