/* ------------------------------------------
   base.BODY
------------------------------------------ */
body {

  &.home {
    background-color: $color-dark;
    color: #fff;
  }

  &.post {
    background-color: #FAFAFA;
    color: $color-dark;
  }
}
