.single-post {

}

.single-post__header {
  height: 570px;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  transition: .5s;
  background-color: $color-dark;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

  .post-title-block {
    margin-top: 50px;
  }

  * {
    z-index: 10;
  }

  &:after {
    content:'';
    background-color: rgba(#000, .4);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
  }

  .single-post--reveal-cover & {
    height: 100vh;
    // background-size: contain;

    &:after {
      background-color: rgba(#000, 0);
    }
  }
}

.single-post__content {
  position: relative;
  top: 570px;
  width: 100%;
  background-color: $light;
  transition: .5s;
  padding-top: 70px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.50);

  .single-post--reveal-cover & {
    top: 100vh;
  }

  > .wrap {
    margin-bottom: 220px;
  }
}

.single-post__header-reveal {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}


.body-content {

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }

  h2 {
    font-size: rem-calc(30);
  }

  h3 {
    font-size: rem-calc(23);
  }

  ul,
  ol {
    padding-left: 1.2em;
    margin-bottom: 2em;

    li:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  ul {
    list-style: none;

    li {
      position: relative;
      &:before {
        content:'├';
        font-size: rem-calc(10);
        color: $color-secondary;
        position: absolute;
        left: -20px;
        top: 3px;
      }
    }
  }

  img {
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.40);
    display: block;
  }

  .img-link {
    cursor: zoom-in;
  }

  iframe {
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,.4);
  }

  > p:first-child {
    font-size: 1.3em;
    font-family: $ff-light;
    line-height: 1.6;
  }

  p {
    line-height: 2;
    margin-bottom: 2em;
  }

  a {
    color: $color-dark;
    text-shadow: 1px 1px 0 $light, -1px 1px 0 $light, 2px 0 0 $light, -2px 0 0 $light;
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 $color-secondary,
                3px 0 0 $light, -3px 0 0 $light;
    text-decoration: none;

    &:hover {
      color: $light;
      text-shadow: none;
      background: $color-secondary;
      box-shadow: 3px 0 0 $color-secondary, -3px 0 0 $color-secondary;
    }
  }

  .gallery {
    margin-left: -250px;
    width: calc( 100% + 500px );
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
    margin-top: 80px;

    a {
      box-shadow: none;
      text-shadow: none;
      display: block;
      cursor: zoom-in;

      img {
        display: block;
        border-radius: 2px;
        margin: 0;
      }

      &:hover {
        background-color: transparent;
      }
    }

    .gallery-item {
      width: 10%;
      padding: 10px;
      transition: .2s ease-out;

      &:hover {
        transition: .1s;
        transform: scale(1.6);

        img {
          box-shadow: 0px 10px 30px 0px rgba(0,0,0,1);
        }
      }
    }
  }



  //  ==========================================================
  //  # Pull Quote
  //  ==========================================================
  /*

      <aside class="quote quote--pullquote">
        <blockquote>
          ...
        </blockquote>
      </aside>

  */

  .quote {
    font-family: $ff-bold;

    a {
      color: $color-dark;
      transition: .3s;


      &:visited {
      }
      &:focus {
        outline: thin dotted;
      }
      &:active,
      &:hover {
        color: $color-dark;

      }
    }

    blockquote,
    blockquote p {
      color: $color-dark;
      font-size: rem-calc(20px);
      line-height: 1.3;
    }

  }



  .quote--pullquote {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;

    &.pullquote--right,
    &.pullquote--left {
      &:before {
        margin: 0 0 20px;
      }
    }
  }

  .pullquote--right {
    text-align: left;
    float: right;
    width: 40%;
    margin-left: 50px;
    position: relative;
  }

  .pullquote--left {
    text-align: left;
    float: left;
    width: 40%;
    margin-right: 40px;
    position: relative;
  }

  .pullquote--center {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;

    @include mq(1100) {
      // margin-left: -100px;
      // margin-right: -100px;
    }
  }



  .wp-caption {
    position: relative;

    margin-top: 20px;
    margin-bottom: 20px;

    @include mq(600) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    img {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }

    .wp-caption-text {
      // text-align: center;
      background: white;
      // box-shadow: 0 2px 0 0 rgba(#48e0a4, .5);
      padding: 5px 10px;
      font-size: rem-calc(13px);
      line-height: 1.5;
      top: 0;
      color: lighten($color-dark, 40);
      left: 0;

      @include mq(1100) {
        // position: absolute;
        // width: 150px;
        // left: -150px;
      }

    }
      &.alignright .wp-caption-text {
        left: auto;

        @include mq(1100) {
          // right: -150px;
        }
      }
  }


  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;

    @include mq(600) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  /* Images */
  .alignleft {

    width: auto !important;
    @include mq(768) {
      float: left;
    }
  }

  .alignright {
      width: auto !important;
    @include mq(768) {
      float: right;
    }
  }

  .aligncenter {
      width: auto !important;
    @include mq(768) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }



  img.alignleft {

    width: auto !important;
    @include mq(880) {
      margin: 5px 1.5em 5px -80px;
    }
  }

  .wp-caption.alignleft {
    width: auto !important;
    @include mq(880) {
      margin: 5px 1.5em 5px -80px;
    }
  }

  img.alignright {
    width: auto !important;
    @include mq(880) {
      margin: 5px -80px 5px 1.5em;
    }
  }

  .wp-caption.alignright {
    width: auto !important;
    @include mq(880) {
      margin: 5px -80px 5px 1.5em;
    }
  }

  img.aligncenter {
    width: auto !important;
    @include mq(880) {
      margin-left: -80px;
      margin-right: -80px;
      max-width: 900px;
    }
  }

  .wp-caption.aligncenter {
    width: auto !important;
    @include mq(880) {
      margin-left: -80px;
      margin-right: -80px;
      max-width: 900px;
    }
  }

  .wp-caption.alignnone {
    width: auto !important;
    @include mq(880) {
      margin-left: -80px;
      margin-right: -80px;
      max-width: 900px;
    }
  }

  img.alignnone {
    margin: 5px 0;
  }









}
