.archive-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
  margin-top: 90px;

  .page-numbers {
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem-calc(15);
    padding: 0 10px;
  }

  .dots {
    color: $color-blue-secondary;
  }

  a {
    color: $color-primary;
    &:hover {
      color: $light;
    }
    span {
      padding: 0 15px;
      font-size: rem-calc(13);
      font-family: $ff-bold;
    }
  }
}
