.banner--top {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  height: 320px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

body.top-banner {
padding-top: 320px;

  .global-header {
    position: relative;
  }

  .main-content {
    padding-top: 20px;
  }

}
