.post-title-block {
  color: $light;
  position: relative;

  &:hover {
    &:after {
      box-shadow: 0px 0px 25px 0px $color-primary;
    }
  }


  &:after {
    content:'';
    display: block;
    position: absolute;
    width: 2px;
    background-color: $color-primary;
    left: -15px;
    top: 0;
    height: 100%;
    box-shadow: 0px 0px 14px 0px $color-primary;
  }

  a {
    color: $color-blue-primary;
    text-decoration: none;
  }

  &__title {
    font-family: $ff-bold;
    line-height: 1;
    font-size: rem-calc(25);

    @include mq(1024) {
      font-size: rem-calc(30);
    }

    a {
      color: $light;

      &:hover {
        color: $color-primary;
      }
    }

  }


  &__meta {
    list-style: none;
    display: flex;
    font-family: $ff-light;
    margin-bottom: 20px;
    position: relative;
    font-size: rem-calc(14);
    flex-flow: row wrap;

    &:after {
      content:'';
      display: block;
      position: absolute;
      width: 2px;
      background-color: darken($color-primary, 30);
      left: -15px;
      top: 0;
      height: 100%;
      z-index: 10;
    }

    li {
      color: $color-blue-primary;
      margin-bottom: 10px;

      &:not(:last-child) {
        margin-right: 40px;
      }

    }
  }

  &__meta-label {
    font-size: rem-calc(11);
    text-transform: uppercase;
    letter-spacing: .05em;
    display: block;
    color: rgba($color-blue-primary,.5);
  }

  &__excerpt {
    font-size: rem-calc(14);
    color: $color-blue-secondary;
    line-height: 1.5;
    font-family: $ff-light;
  }

  &__title + &__excerpt {
    margin-top: 20px;
  }
}

.post-title-block--hero {

  .post-title-block__title {
    font-size: rem-calc(20);

    @include mq(580) {
      font-size: rem-calc(30);
    }

    @include mq(1024) {
      font-size: rem-calc(40);
    }
  }

}
