/**
 * Icon component
 *
 * 1. Display inline with surrounding text content.
 * 2. Inherit the parent text color for icon fills.
 * 3. Use parent font-size for width and height.
 * 4. Vertically align icon with surrounding text.
 *    See: http://snook.ca/archives/html_and_css/icons-and-type
 */

.icon {
  display: inline-block; /* 1 */
  fill: currentColor; /* 2 */
  height: 1em; /* 3 */
  position: relative; /* 4 */
  top: -0.0625em; /* 4 */
  vertical-align: middle; /* 4 */
  width: 1em; /* 3 */
}
