.horizontal-post-card {
  // background-color: $color-dark-tertiary;
  .post-title-block {
    margin-left: 15px;
    padding-top: 15px;

    @include mq(768) {
      margin-left: 0;
      padding-left: 0;
    }
  }

  img {
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.80);
    display: block;
    max-width: 100%;

    @include mq(768) {
      max-width: 250px;
    }

    @include mq(1024) {
      max-width: 350px;
    }
  }

}
