.banner--top {
  background-color: #f3e8e6;
  position: fixed;
  width: 100%;
  top: 0;
  height: 260px;
  width: 100%;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  @include mq(860) {
    display: block;
  }
}

@include mq(860) {
  body.top-banner {
    padding-top: 260px;

    .global-header {
      position: relative;
    }

    .main-content {
      padding-top: 20px;
    }

  }

  body.single-post {
    .main-content {
      padding-top: 0;
    }
  }
}
