.banner--top {
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  height: 270px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: none;

  @include mq(860) {
    display: block;
  }
}

@include mq(860) {
  body.top-banner {
    padding-top: 165px;

    .global-header {
      position: relative;
    }

    .main-content {
      padding-top: 20px;
    }

  }
}
