.menu-trigger {
  outline: none;
  border: 1px solid $color-primary;
  background-color: transparent;
  box-shadow: 0px 0px 24px 0px $color-primary;
  color: $color-primary;
  border-radius: 2px;
  padding: 5px 15px;
  z-index: 10;
  position: relative;
  text-transform: uppercase;
  font-size: rem-calc(12);
  letter-spacing: 0.1em;

  @include mq(860) {
    display: none;
  }
}

.global-header__nav {
  position: absolute;
  z-index: map-get($zindex, submenu);
  top: 85px;
  background-color: $color-dark-secondary;
  width: 100%;
  left: 0;
  display: none;
  padding-left: 20px;
  padding-bottom: 40px;

  @include mq(860) {
    padding-left: 0;
    padding-bottom: 0;
    left: auto;
    width: auto;
    background-color: transparent;
    top: 10px;
    position: relative;
    display: block;
  }

  > ul {
    list-style: none;
    @include mq(860) {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
    }
  }

  > ul > li {
    display: block;

    > a {
      padding: 10px 15px;
      @include mq(860) {
        padding: 27px 15px;
      }

      @include mq(1024) {
        padding: 27px 20px;
      }
    }
  }

  li {
    position: relative;
  }

  a {
    display: block;
    color: $color-blue-primary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem-calc(11);
    letter-spacing: .1em;

    @include mq(1024) {
      font-size: rem-calc(13);
    }
  }

  .menu-item-has-children > a:before {
    content: '¬';
    color: $color-primary;
    position: absolute;
    left: 0px;
    transition: .8s;
    @include mq(860) {
      top: 24px;
    }
  }

  .menu-item-has-children:hover > a:before {
    top: 29px;
    transition: .2s;
    text-shadow: 0px 0px 24px $color-primary;
  }

  .menu-item-has-children:hover {
    .sub-menu {
      display: block;
    }
  }
  .sub-menu {
    padding: 0px 0;
    list-style: none;
    background-image: linear-gradient(-180deg, rgba($color-dark-secondary,0.00) 0%, rgba($color-dark-secondary,0.00) 17px, rgba($color-dark-secondary,0.95) 17px, rgba($color-dark-secondary,0.95) 100%);
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.10);
    position: relative;
    margin-left: 6px;

    @include mq(860) {
      margin-left: 0;
      top: 47px;
      left: 7px;
      display: none;
      position: absolute;
    }

    &:before {
      content:'';
      display: block;
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background: $color-primary;
      box-shadow: 0px 0px 24px 0px $color-primary;
    }

    li:first-child a {
      @include mq(860) {
        padding-top: 18px;
      }
    }

    li:last-child a {
      @include mq(860) {
        padding-bottom: 20px;
      }
    }

    a {
      padding: 10px 23px 10px 13px;
      color: $color-blue-secondary;
      position: relative;

      &:hover {
        color: $color-primary;
      }

    }
  }
}
