.pagination-footer {
  background-color: $color-dark-secondary;
  padding: 50px 0;
  margin-top: 100px;
  border-top: 1px solid $color-dark-tertiary;
}

.archive-pagination {
  display: flex;
  justify-content: center;

  .page-numbers {
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem-calc(15);
    padding: 0 10px;
  }

  .dots {
    color: $color-blue-secondary;
  }

  a {
    color: $color-primary;
    &:hover {
      color: $light;
    }
    span {
      padding: 0 15px;
      font-size: rem-calc(13);
      font-family: $ff-bold;
    }
  }
}
