.main-content {
  padding-top: 20px;
  background-color: $color-dark;
  position: relative;

  @include mq(860) {
    padding-top: 85px + 20px;
  }

  body.archive & {
    padding-top: 85px + 20px;
  }
  
  body.single-post & {
    padding-top: 0;
  }

}
