/* ------------------------------------------
   objects.WRAP
------------------------------------------ */

.wrap {
  position: relative;
  max-width: 1440px + $gutter + $gutter;
  padding: 0 $gutter 0 $gutter;
  margin: 0 auto;
}

.wrap--narrow {
  max-width: 800px + $gutter + $gutter;
}
