.media-block {
  display: flex;
  flex-flow: column;

  @include mq(768) {
    align-items: center;
    flex-flow: row;
  }

  &__figure {
    @include mq(768) {
      margin-right: 40px;
    }
  }

  &__body {
    flex: 1;
  }

}

.media-block--reverse {
  flex-direction: row-reverse;

  .media-block__body {
    padding-left: 60px;
  }

  .media-block__figure {
    margin-left: 40px;
    margin-right: 0;
  }
}
