/* ------------------------------------------
   objects.WRAP
------------------------------------------ */

.wrap {
  position: relative;

  max-width: 355px;
  transition: 0;

  max-width: 1920px;

  // @include mq($bp-2col) {
  //   max-width: 710px;
  // }

  // @include mq($bp-3col) {
  //   max-width: 1065px;
  // }

  // @include mq($bp-4col) {
  //   max-width: 1420px;
  // }

  // @include mq(1844) {
  //   max-width: 1775px;
  // }
}
