/* ------------------------------------------
   settings.VARIABLES
------------------------------------------ */

// Colors

$light: #fff;
$color-primary: #FF2942;
$color-secondary: #0E64FF;

$color-dark: #1C1D1E;
$color-dark-secondary: #20242A;
$color-dark-tertiary: #272B33;

$color-text-primary: #C9D6EF;
$color-text-secondary: #9DA5B5;


// Typo

$ff: 'Space Mono', sans-serif;

// Misc
$gutter: 20px;

$transition-in: .1s;
$transition-out: .3s;

// z-index map

$zindex: (
  progressbar: 5001,
  header: 5000
);
